@{
    ViewBag.Title = "Home";
}
<p>Process Loads by:</p>
<ul>
    @foreach (KeyValuePair<string, string> type in ViewBag.type)
    {
        <li><a asp-controller="Process" >@type.Value</a></li>
        
        
    }
</ul>