<h1>@ViewBag.Title</h1>
<h2><button class="btn btn-info btn-block" role="button"> List Loads By: </button></h2>

    @foreach (KeyValuePair<string, string> column in ViewBag.columns)
    {
      
            <a asp-controller="List" asp-action="Values" asp-route-column="@column.Key"  class="btn btn-info btn-lg" role="button">@column.Value</a>
            

    }

<a asp-controller="List" asp-action="Loads" asp-route-column="all" class="btn btn-info btn-lg" role="button">All</a>